<div id="signin_form" class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to VideoBook</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" action="/sessions" method="post">

	                <input id="signin_val" type="text" class="form-control" placeholder="<%= @placeholder %>" required autofocus>
	                <!-- <input type="hidden" name="login_type" value="<%= @login_type %>" > -->
	                <%#= select("sessions", "login_type", [['Student', 'student'],['Judge', 'judge']], selected: @login_type { include_blank: true }) %>
	                <%= select_tag "login_type", options_for_select(['student', 'judge'], @login_type), :onchange => "LoginPage.changePlaceHolder(this.value);", :class => "form-control login_type" %>
	                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px">
	                    Sign in</button>
	                <!-- <label class="checkbox pull-left">
	                    <input type="checkbox" value="remember-me">
	                    Remember me
	                </label> -->
	                <!-- <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->
                </form>
            </div>
            <a href="/students/new" class="text-center new-account">Signup as Student </a>
            <a href="/judges/new" class="text-center new-account">Signup as Judge </a>
        </div>
    </div>
</div>
